<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" /> 
    </configSections>
    <!--<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog>
        <include file="E:\Dev\config\nlog.config" />
    </nlog>-->
  <appSettings>
    <add key="useConfig" value="true"/>    
    <add key="useModulePath" value="false"/>
    <add key="modulePath" value=".\modules"/>
    <!--<add key="monitorModulePath" value="true"/>-->    
    <add key="publicEncryptionKey" value="terrelllewis"/>
    <add key="publicKey" value="terrelllewis"/>        
    <add key="useChromeless" value="false"/>    
  </appSettings>
  <startup>
  </startup>
  <modules>
    <!--<module assemblyFile="LewisFam.Desktop.Modules.Stocks.dll" moduleType="LewisFam.Desktop.Modules.Stocks.StocksModule, LewisFam.Desktop.Modules.Stocks, Version=1.0.0.1, Culture=en-us, PublicKeyToken=null" moduleName="StocksModule" startupLoaded="True" />-->
    <module assemblyFile="LewisFam.Desktop.Modules.Stocks.dll" moduleType="LewisFam.Desktop.Modules.Stocks.StocksModule, LewisFam.Desktop.Modules.Stocks" moduleName="StocksModule" startupLoaded="True" />
    <!--<module assemblyFile="modules\LewisFam.Desktop.Modules.Tools.dll" moduleType="LewisFam.Desktop.Modules.Tools.ToolsModule, LewisFam.Desktop.Modules.Tools" moduleName="ToolsModule" startupLoaded="True" />-->
    <!--<module assemblyFile="LewisFam.Desktop.Modules.StockOrders.dll" moduleType="LewisFam.Desktop.Modules.StockOrders.StockOrdersModule, LewisFam.Desktop.Modules.StockOrders" moduleName="StockOrdersModule" startupLoaded="True" />-->    
    <!--<module assemblyFile="LewisFam.Desktop.Modules.Dev.dll" moduleType="LewisFam.Desktop.Modules.Dev.DevModule, LewisFam.Desktop.Modules.Dev" moduleName="DevModule" startupLoaded="True" />-->    
    <!--<module assemblyFile="LewisFam.Desktop.Modules.DraftKings.dll" moduleType="LewisFam.Desktop.Modules.DraftKings.DraftKingsModule, LewisFam.Desktop.Modules.DraftKings" moduleName="DraftKingsModule" startupLoaded="True" />-->
  </modules>
</configuration>